# main database
DATABASE_URL="postgresql://userid:password@localhost:5432/dbname?schema=public"

# test database
TEST_DATABASE_URL="postgresql://userid:password@localhost:5432/test_dbname?schema=public"

# bcrypt hash salt value, choose any number up to 10
HASH_SALT=9

# session secret (any random set of alphanumeric characters of length 32 or more)
SESSION_SECRET=verYloNgRAand000mmm5ecreT32

# postgresql user, replace with your own
DB_USER=userid 

# client origin host (use the one the is the client in dev or prod)
CLIENT_ORIGIN="http://localhost:8080"